:root {
    --white: #fff;
    --light: #eee;
    --dark: #556173;
    --darker: #131519;
    --lightgrey: #d3d3d3;
    --grey: #6B7280;
    --green: #073123;

    --shadow: 0 1px 3px rbga(0, 0, 0, 0,1);

    --green-glow: 0px 0px 4px rgba(21, 73, 60, 0.75);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body {
    background-color: rgb(239, 239, 239);
    color: var(--darker);
    padding: 5rem;
    width: 100%;
}

h1 {    
    display: block;
    width: 100%;
    font-size: 4rem;
    padding: 3rem;
    color: var(--green);
    border-radius: 0.5rem;
    box-shadow: var(--green-glow);
    margin-bottom: 1rem;
	font-weight: 500;
	font-family: 'Inter', sans-serif;
    background-image: url("images/to-do.jpeg");
    background-position: 100%;
    border-style: solid;
    border-width: 6px;
    border-color: var(--white);
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h2 {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(114, 114, 114);
}

.create-todo input[type="text"] {
    display: flex;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem;
    color: var(--darker);
    background-color: var(--white);
    border-radius: 0.5rem;
    border-style:solid;
    border-color: var(--lightgrey);
    border-width: 2px;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

#date {
    width: 28%;
    font-size: 1.125rem;
    color: var(--grey);
    background-color: var(--white);
    border-radius: 00.5rem;
    padding: 1rem;
    border-style: solid;
    border-color: var(--lightgrey);
}  

.create-todo input[type="submit"] {
    width: 70%;
    float: right;
    font-size: 1.125rem;
    padding: 1rem;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--green);
    box-shadow: var(--green-glow);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover {
    opacity: 0.75;
}

.checkthrough {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 999px;
    border: 2px solid var(--green);
}

.checkthrough::after {
    content: '';
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--green); 
    border-radius: 999px;
    transition: 0.2s ease-in-out;
}

input:checked ~ .checkthrough::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--green-glow);
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%;
}

.todo-item .todo-date {
    color: var(--green);
    flex: 1 1 0%;
}

.todo-item .todo-content input {
    color: var(--darker);
    font-size: 1.125rem;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: var(--white);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
    opacity: 0.75;
}

.todo-item .actions .edit {
    margin-right: 0.5rem;
    background-color: var(--green);
}

.todo-item .actions .delete {
    background-color: var(--green);
    opacity: 0.75;
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--grey);
}

#alphabetically {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--white);
    font-weight: 500;
    text-transform: uppercase;
    background-color: var(--green);
    box-shadow: var(--green-glow);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}






